includes:
  - ./vendor/phpstan/phpstan-phpunit/extension.neon
  - ./vendor/phpstan/phpstan-phpunit/rules.neon
  - ./vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
  phpVersion: 80300
  level: max
  paths:
    - ./src
    - ./tests

  bootstrapFiles:
    - ./vendor/autoload.php

  treatPhpDocTypesAsCertain: false

  ignoreErrors:
    -
      path:    'tests/TestClasses/SomeClassTestCase.php'
      message: '`Method ClassTest\\Tests\\TestClasses\\SomeClassTestCase::getTestedClassName\(\) should return class-string<T of object> but returns string`'
    -
      path:    'src/TestTools.php'
      message: '`Dead catch - ReflectionException is never thrown in the try block`'
    -
      path:       'src/TestTools.php'
      identifier: 'method.dynamicName'
      count:      1
