<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.2/phpunit.xsd"
        backupGlobals="true"
        colors="true"
        failOnEmptyTestSuite="true"
        failOnIncomplete="true"
        failOnRisky="true"
        failOnWarning="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnPhpunitDeprecations="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
        cacheDirectory="build/.phpunit.cache">

    <php>
        <ini name="error_reporting" value="E_ALL"/>
    </php>

    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>

    <testsuites>
        <testsuite name="ClassTest test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
